
<div class="corpo"><form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <h1>Cadastro de Produtos</h1>

    <div class="all">

    <mat-form-field  class="normal">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Seu Nome" formControlName="nome" name="nome">
    </mat-form-field>
    <br>
        <mat-form-field class="normal">
            <mat-label>Marca</mat-label>
            <mat-select formControlName="marca">
                <mat-option *ngFor="let marca of marcas | async" [value]="marca.id">
                  {{marca.nome}}
                </mat-option>
              </mat-select>
          </mat-form-field>

        <br>          

        <mat-form-field  class="normal">
            <mat-label>Fornecedor</mat-label>
            <input matInput placeholder="Seu Fornecedor" formControlName="fornecedor" name="fornecedor">
        </mat-form-field>
        <br>

        <mat-form-field  class="normal">
            <mat-label>Cor</mat-label>
            <input matInput placeholder="Sua Cor" formControlName="cor" name="cor">
        </mat-form-field>
        <br>

        <mat-form-field  class="normal">
            <mat-label>Quantidade</mat-label>
            <input matInput placeholder="Sua Quantidade" formControlName="quantidade" name="quantidade">
        </mat-form-field>
        <br>


        <div class="ladoDir">

            <div class="btn" fxLayout="row" fxLayoutAlign="end center" >
                <button mat-raised-button color="primary" class="salvar" type="submit">Salvar</button>
                <button mat-raised-button color="warn" class="cancelar" routerLink="/Home">Canc.</button>
            </div>

        </div>
    </div>

</form></div>
