
<div class="corpo"><form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <h1>Cadastro de Produtos</h1>

    <div class="all">
    <div class="dividir" fxLayout="row" fxLayoutAlign="space-around center" fxHide.xs>
        <mat-form-field fxHide.xs class="normal">
            <mat-label>Cod. Barras</mat-label>
            <input matInput required placeholder="Codigo" formControlName="codigo" name="codigo">
            <mat-error *ngIf="formulario.get('codigo').getError('required')">Preencha este Campo</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field fxHide.xs class="normal" style="margin-left: 1vw;">
            <mat-label>Tipo</mat-label>
            <select matNativeControl required formControlName="tipo">
                <option value="Conector de Carga">Conector de Carga</option>
                <option value="Tela">Tela</option>
                <option value="Bateria">Bateria</option>
                <option value="Cabo de Energia">Xiaomi</option>
                <option value="Pelicula">Peliculas</option>
                <option value="Carregador">Carregador</option>
                <option value="Fone">Fone de Ouvido</option>
                <option value="Outros Cabos">Outros Cabos</option>
                <option value="Acessorio">Acessório</option>
                <option value="Outros">Outros</option>
              </select>
            <mat-error *ngIf="formulario.get('tipo').getError('required')">Preencha este Campo</mat-error>
        </mat-form-field>
        <br>
    </div>

    <div class="dividir" fxHide.sm fxHide.lg fxHide.md>
        <mat-form-field fxHide.sm fxHide.lg fxHide.md class="normal">
            <mat-label>Cod. Barras</mat-label>
            <input matInput required placeholder="Codigo" formControlName="codigo" name="codigo">
            <mat-error *ngIf="formulario.get('codigo').getError('required')">Preencha este Campo</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field fxHide.sm fxHide.lg fxHide.md class="normal">
            <mat-label>Tipo</mat-label>
            <select matNativeControl required formControlName="tipo">
                <option value="Conector de Carga">Conector de Carga</option>
                <option value="Tela">Tela</option>
                <option value="Bateria">Bateria</option>
                <option value="Cabo de Energia">Xiaomi</option>
                <option value="Pelicula">Peliculas</option>
                <option value="Carregador">Carregador</option>
                <option value="Fone">Fone de Ouvido</option>
                <option value="Outros Cabos">Outros Cabos</option>
                <option value="Acessorio">Acessório</option>
                <option value="Outros">Outros</option>
              </select>
            <mat-error *ngIf="formulario.get('tipo').getError('required')">Preencha este Campo</mat-error>
        </mat-form-field>
        <br>
    </div>

    <mat-form-field  class="normal">
        <mat-label>Nome</mat-label>
        <input matInput required placeholder="Seu Nome" formControlName="nome" name="nome">
        <mat-error *ngIf="formulario.get('nome').getError('required')">Preencha este Campo</mat-error>
    </mat-form-field>
    <br>
        <mat-form-field class="normal">
            <mat-label>Marca</mat-label>
            <select matNativeControl required formControlName="marca">
                <option value="Samsung">Samsung</option>
                <option value="Motorola">Motorola</option>
                <option value="LG">LG</option>
                <option value="Xiaomi">Xiaomi</option>
                <option value="Asus">Asus</option>
                <option value="Positivo">Positivo</option>
                <option value="Apple">Apple</option>
                <option value="Outros">Outros</option>
              </select>
              <mat-error *ngIf="formulario.get('marca').getError('required')">Selecione uma Opção</mat-error>
          </mat-form-field>

        <br>          

        <mat-form-field  class="normal">
            <mat-label>Fornecedor</mat-label>
            <input matInput required placeholder="Seu Fornecedor" formControlName="fornecedor" name="fornecedor">
            <mat-error *ngIf="formulario.get('fornecedor').getError('required')">Preencha este Campo</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field  class="normal">
            <mat-label>Cor</mat-label>
            <input matInput required placeholder="Sua Cor" formControlName="cor" name="cor">
            <mat-error *ngIf="formulario.get('cor').getError('required')">Preencha este Campo</mat-error>
        </mat-form-field>
        <br>

        <div class="dividir" fxLayout="row" fxLayoutAlign="space-around center" fxHide.xs>
            <mat-form-field  class="normal">
                <mat-label>Quantidade</mat-label>
                <input matInput required  type="number" placeholder="Sua Quantidade" formControlName="quantidade" name="quantidade">
                <mat-error *ngIf="formulario.get('quantidade').getError('required')">Preencha este Campo</mat-error>
            </mat-form-field>
            <br>

            <mat-form-field  class="normal" style="margin-left: 1vw;">
                <mat-label>Valor</mat-label>
                <input matInput required placeholder="Valor" formControlName="valor" name="valor" currencyMask>
                <mat-error *ngIf="formulario.get('valor').getError('required')">Preencha este Campo</mat-error>
            </mat-form-field>
            <br>
        </div>

        <div class="dividir" fxHide.sm fxHide.lg fxHide.md>
            <mat-form-field  class="normal">
                <mat-label>Quantidade</mat-label>
                <input matInput required type="number" placeholder="Sua Quantidade" formControlName="quantidade" name="quantidade">
                <mat-error *ngIf="formulario.get('quantidade').getError('required')">Preencha este Campo</mat-error>
            </mat-form-field>
            <br>

            <mat-form-field  class="normal">
                <mat-label>Valor</mat-label>
                <input matInput required placeholder="Valor" formControlName="valor" name="valor" currencyMask>
                <mat-error *ngIf="formulario.get('valor').getError('required')">Preencha este Campo</mat-error>
            </mat-form-field>
            <br>
        </div>

        <div class="ladoDir">

            <div class="btn" fxLayout="row" fxLayoutAlign="end center" >
                <button mat-raised-button color="primary" class="salvar" type="submit">Salvar</button>
                <button mat-raised-button color="warn" class="cancelar" routerLink="/Home">Canc.</button>
            </div>

        </div>
    </div>

</form></div>
