
<div class="corpo">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

        <h1>Edição de Ordem de Serviço</h1>

    <div class="all">

        <mat-form-field class="normal">
            <mat-label>Nome</mat-label>
            <input matInput required formControlName="nome" placeholder="Nome">
            <mat-error *ngIf="formulario.get('nome').getError('required')">Preencha este Campo</mat-error>
        </mat-form-field>
            <br>

            <div fxLayout="row" fxLayoutAlign="space-between center" class="conteudoDiv">

                <mat-form-field class="equip">
                    <mat-label>Equipamento</mat-label>
                    <input matInput required formControlName="equipamento" placeholder="Equipamento">
                    <mat-error *ngIf="formulario.get('equipamento').getError('required')">Preencha este Campo</mat-error>
                </mat-form-field>

                <mat-form-field class="equip">
                    <mat-label>Modelo</mat-label>
                    <input matInput required formControlName="modelo" placeholder="Modelo">
                    <mat-error *ngIf="formulario.get('modelo').getError('required')">Preencha este Campo</mat-error>
                </mat-form-field>
                <br>
            </div>
        
            <div fxLayout="row" fxLayoutAlign="space-between center" class="conteudoDiv">

                <mat-form-field class="equip">
                    <mat-label>Acessórios</mat-label>
                    <input matInput required formControlName="acessorios" placeholder="Acessórios">
                    <mat-error *ngIf="formulario.get('acessorios').getError('required')">Preencha este Campo</mat-error>
                </mat-form-field>

                <mat-form-field class="equip">
                    <mat-label>Defeito</mat-label>
                    <input matInput required formControlName="defeito" placeholder="Defeito">
                    <mat-error *ngIf="formulario.get('defeito').getError('required')">Preencha este Campo</mat-error>
                </mat-form-field>
                <br>
            </div>

            <mat-form-field class="normal">
                <mat-label>Status</mat-label>
                <select matNativeControl required formControlName="status">
                  <option value="analise">Em Análise</option>
                  <option value="cliente">Aguardando Cliente</option>
                  <option value="pronto">Pronto</option>
                  <option value="retirada">Aguardando Retirada</option>
                </select>
                <mat-error *ngIf="formulario.get('status').getError('required')">Selecione alguma opção</mat-error>
              </mat-form-field>
            <br>

            <div fxLayout="row" fxLayoutAlign="space-between center" class="conteudoDiv">

                <mat-form-field class="equip">
                    <mat-label>Valor de Entrada</mat-label>
                    <input matInput formControlName="valorEntrada" placeholder="Valor Entrada" currencyMask>
                </mat-form-field>

                <mat-form-field class="equip">
                    <mat-label>Valor Total</mat-label>
                    <input matInput formControlName="valorTotal" placeholder="Valor Total" currencyMask>
                </mat-form-field>
                <br>
            </div>

            <mat-form-field class="normal">
                <mat-label>Andamento</mat-label>
                <textarea matInput formControlName="andamento"></textarea>
            </mat-form-field>
            <br>

            <div class="btn" fxLayout="row" fxLayoutAlign="end center" >
                <button mat-raised-button color="primary" class="salvar" type="submit">Editar</button>
                <button mat-raised-button color="warn" class="cancelar" routerLink="/Home">Canc.</button>
            </div>
        </div>
    </form>
</div>