
<div><form [formGroup]="formulario">

    <h1>Visualizar Andamento de Ordem de Serviço</h1>

    <div class="all">

        <mat-form-field class="example-full-width" class="normal">
            <mat-label>Nome</mat-label>
            <input matInput required formControlName="nome">
        </mat-form-field>
        <br>

            <mat-form-field class="example-full-width" class="normal">
                <mat-label>Equipamento</mat-label>
                <input matInput required formControlName="equipamento">
            </mat-form-field>
            <br>

            <mat-form-field class="normal">
                <mat-label>Status</mat-label>
                <select matNativeControl required formControlName="status">
                  <option value="analise">Em Análise</option>
                  <option value="cliente">Aguardando Cliente</option>
                  <option value="pronto">Pronto</option>
                  <option value="retirada">Aguardando Retirada</option>
                </select>
              </mat-form-field>
            <br>

            <mat-form-field class="example-full-width" class="normal">
                <mat-label>Valor de Entrada</mat-label>
                <input matInput formControlName="valorEntrada">
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width" class="normal">
                <mat-label>Valor Total</mat-label>
                <input matInput formControlName="valorTotal">
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width" class="normal">
                <mat-label>Andamento</mat-label>
                <textarea matInput formControlName="andamento"></textarea>
            </mat-form-field>
            <br>
            <div class="btn">
            <a href="http://api.whatsapp.com/send?1=pt_BR&phone=5542999095885" target="blank">
               <img src="./assets/img/whatsapp.png" alt="">
            </a>
            <button mat-raised-button color="primary" class="voltar" routerLink="/Login">Voltar</button>
        </div>
        </div>
    </form>
</div>
