h1{
    background-color: rgb(15, 92, 79);
    text-align: center;
    padding: 1vh;
    color: white;
}
.normal{
    width: 50vw;
    margin-left: 10vw;
}
.btn{
    width: 50vw;
    margin-left: 10vw;
}
.all{
    margin-top: 5vh;
    margin-left: 16vw;
}