h1{
    background-color:rgba(16, 50, 70, 0.836);
    text-align: center;
    padding: 1vh;
    color: white;
}
.normal{
    width: 50vw;
    margin-left: 10vw;
}
.btn{
    width: 50vw;
    margin-left: 10vw;
}
.all{
    margin-left: 16vw;
}
.contato{
    background-color: rgb(105, 214, 105);
    border-radius: 5px;
    padding: 1vw 1vh;
}
a:link, a:visited, a:hover, a:active{
    white-space: nowrap;
    color: white;
    text-decoration: none;
}