.log{
    background-color:rgba(11, 81, 122, 0.452);
    text-align: center;
    color: white;
    width: 100vw;
    max-height: 9.5vh;
    mat-form-field{
        margin-right: 2vw;
    }
}
.buscar{
    width: 250px;
    margin: 0 auto;
    margin-top: 3vh;
    background-color: rgb(224, 222, 222);
    .label{
        background-color: rgb(44, 67, 83);
        width: 250px;
        height: 70px;
        border-radius: 10px 10px 0 0;
    }
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.637)   
}
.all{
    max-height: 100vh;
}
.numero{
    margin-top: 8vh;
    width: 200px;
}
