<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="login.component.scss">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
  </head>
  <body>

      <form action="index.html" class="login-form">
        <h1>Login</h1>

        <div class="txtb">
          <label>Usuário</label>
          <input type="text" [(ngModel)]="usuario.login" name="login">
        </div>

        <div class="txtb">
          <label>Senha</label>
          <input type="password" [(ngModel)]="usuario.senha" name="senha">
        </div>

        <input type="submit" class="logbtn" value="Login" (click)="fazerLogin()">

      </form>

      <script type="text/javascript">
      $(".txtb input").on("focus",function(){
        $(this).addClass("focus");
      });

      $(".txtb input").on("blur",function(){
        if($(this).val() == "")
        $(this).removeClass("focus");
      });

      </script>
      <div ng-model="form">
        <input #numero type="text" name="numero" id="numero">
        <button (click)="buscarOS()">Buscar Ordem de Serviço</button>
      </div>
  </body>
</html>

  