img{
    width: 400px;
    height: 150px;
    margin: 150px 0 0 400px;
}
button{
    margin: 50px 0 0 500px;
    color: #FFF;
    background-color: rgb(15, 90, 189);
    border: none;
    height: 60px;
    line-height: 30px;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
}
.corpo{
    margin-left: 15%;
    margin-top: 100px;
    height: 85%;
    width: 85%;
    float: left;
    background-color: rgb(201, 196, 196);
}