table{
    width: 100%;
}
mat-form-field{
    margin: 10px;
    width: 64rem;
}
button{
    margin: 2px;
    position: relative;
}
.corpo{
    margin-left: 15%;
    margin-top: 100px;
    height: 85%;
    width: 85%;
    float: left;
    background-color: rgb(201, 196, 196);
}