<div class="corpo">
  <mat-form-field class="busca">
    <input matInput [(ngModel)]="searchKey" placeholder="Buscar" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let ordem"> {{ordem.id}} </td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome do Cliente </th>
        <td mat-cell *matCellDef="let ordem"> {{ordem.nome}} </td>
      </ng-container>
    
      <ng-container matColumnDef="equipamento">
        <th mat-header-cell *matHeaderCellDef fxHide.xs> Equipamento </th>
        <td mat-cell *matCellDef="let ordem" fxHide.xs> {{ordem.equipamento}} </td>
      </ng-container>

      <ng-container matColumnDef="modelo">
        <th mat-header-cell *matHeaderCellDef fxHide.xs> Modelo </th>
        <td mat-cell *matCellDef="let ordem" fxHide.xs> {{ordem.modelo}} </td>
      </ng-container>
    
      <ng-container matColumnDef="valorEntrada">
        <th mat-header-cell *matHeaderCellDef fxHide.xs> Valor Entrada </th>
        <td mat-cell *matCellDef="let ordem" fxHide.xs> {{ordem.valorEntrada}} </td>
      </ng-container>

      <ng-container matColumnDef="valorTotal">
        <th mat-header-cell *matHeaderCellDef fxHide.xs> Valor Total </th>
        <td mat-cell *matCellDef="let ordem" fxHide.xs> {{ordem.valorTotal}} </td>
      </ng-container>
    
      <ng-container  matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef > Ações </th>
        <td mat-cell *matCellDef="let ordem">
          <button mat-raised-button style="background-color: rgb(170, 170, 50); color: white" routerLink="/Editar/{{ordem.id}}/Ordem"><mat-icon>edit</mat-icon></button>
          <button mat-raised-button color="warn" (click)="deletar(ordem)"><mat-icon>close</mat-icon></button></td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="7" showFirstLastButtons></mat-paginator>
    </div>
</div>