
<div class="corpo">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

        <h1>Cadastro de Ordem de Serviço</h1>


            <mat-form-field class="example-full-width">
                <mat-label>Nome</mat-label>
                <input matInput>
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width">
                <mat-label>Equipamento</mat-label>
                <input matInput>
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width">
                <mat-label>Defeito</mat-label>
                <input matInput>
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width">
                <mat-label>Status</mat-label>
                <mat-select matInput></mat-select>
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width">
                <mat-label>Acessorios</mat-label>
                <input matInput>
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width">
                <mat-label>Valor de Entrada</mat-label>
                <input matInput>
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width">
                <mat-label>Valor Total</mat-label>
                <input matInput>
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width">
                <mat-label>Andamento</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
            <br>

            <button class="salvar" type="submit">Salvar</button>
            <button class="cancelar" routerLink="/Home">Cancelar</button>

    </form>
</div>