.corpo{
    margin-left: 18vw;
    margin-top: 15vh;
    height: 85vh;
    width: 82vw;
    float: left;
    background-color: rgb(201, 196, 196);
}
h1{
    background-color: rgb(15, 92, 79);
    text-align: center;
    padding: 1vh;
    color: white;
}
.cont{
    color: rgb(44,67,84);
    margin-top: 15vh;
    text-align: center;
}