.corpo{
    margin-left: 18vw;
    margin-top: 15vh;
    height: 85vh;
    width: 82vw;
    float: left;
    background-color: rgb(201, 196, 196);
}
h1{
    background-color: rgb(15, 92, 79);
    text-align: center;
    padding: 1vh;
    color: white;
}
.conteudo1{
    width: 51vw;
    height: 65vh;
    background-color: rgb(190, 220, 240);
    border-radius: 10px;
    border: 1px bold;
    padding: 1vh
}
.conteudo2{
    margin-right: 0.5vw;
    width: 29vw;
    height: 65vh;
    background-color: rgb(190, 220, 240);
    border-radius: 10px;
    border: 1px bold;
    padding: 1vh;
}
mat-card{
    padding: 1vh;
    margin-top: -2.5vh;
}