
<div class="corpo">
    <h1>Sistema de Venda</h1>
    
<mat-card fxLayout="row" fxLayoutAlign="space-between center">
    <mat-card-content>
        <div class="conteudo1" style="padding-left: 1vw;">
                <mat-card-title>Itens</mat-card-title>
        </div>
    </mat-card-content>
    <mat-card-content>
        <div class="conteudo2">
                <mat-card-title>Valores</mat-card-title>
        </div>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>
</div>